[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Hospital management
[access "refs/*"]
	owner = group user/standragos
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/standragos
	label-Verified = -1..+1 group user/standragos
	push = group user/standragos
	read = group user/standragos
	rebase = group user/standragos
	removeReviewer = group user/standragos
	submit = group user/standragos
[access "refs/heads/*"]
	create = group user/standragos
	push = +force group user/standragos
	pushMerge = group user/standragos
	read = group user/standragos
[access "refs/tags/*"]
	push = group user/standragos
	push = +force group user/standragos
