<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title>Pet list from mongodb</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/index" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>Add a new doctor to database</a>
        </h3>
        <h2>Doctor list taken out from the database</h2>
        <div class="table-responsive">
            <table class="table" id="product-table">
                <thead>
                <tr>
                    <th>Doctor id</th>
                    <th>Name</th>
                    <th>Branch name</th>
                    <th>we</th>
                </tr>
                </thead>
                <tr>

                <tr th:each="doctors : ${doctors}">
                    <td th:text="${doctors.id}"> </td>
                    <td th:text="${doctors.name}"> </td>
                    <td th:text="${doctors.branch}"> </td>
                    <td th:text="${doctors.branches}"> </td>

                    </tr>
               </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>